body
	background: $white
	color: $black
	+montserrat
	font-size: 15px
	+f(15px, 500, 1.667)
	letter-spacing: .015em
	&.is-fixed
		+md
			position: fixed
			left: 0
			top: 0
			width: 100%

.out
	overflow: hidden

.wave-bg
	position: absolute
	top: 0
	bottom: 0
	left: 50%
	transform: translateX(-50%)
	width: 100%
	min-width: 1440px
	background-position: center
	background-size: 100% 100%
	background-repeat: no-repeat
	z-index: -1

