---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

  {# partial example #}
  {% include "partials/_header.html" %}

  {% include "partials/_hero.html" %}

  {# begin about-eric #}
  {% include "partials/_about-eric.html" %}
  {# end about-eric #}

  {# begin method #}
  {% include "partials/_method.html" %}
  {# end method #}

  {# begin for-whom #}
  {% include "partials/_for-whom.html" %}
  {# end for-whom #}

  {# begin new-life #}
  {% include "partials/_new-life.html" %}
  {# end new-life #}
  
  {# begin structure #}
  {% include "partials/_structure.html" %}
  {# end structure #}
  
  {# begin schedule #}
  {% include "partials/_schedule.html" %}
  {# end schedule #}
  
  {# begin what-get #}
  {% include "partials/_what-get.html" %}
  {# end what-get #}
  
  {# begin feedback #}
  {% include "partials/_feedback.html" %}
  {# end feedback #}
  
  {# begin partners #}
  {% include "partials/_partners.html" %}
  {# end partners #}
  
  {# begin contacts #}
  {% include "partials/_contacts.html" %}
  {# end contacts #}

{% endblock %}
