---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

  {# partial example #}
  {% include "partials/_header.html" %}

  {% include "partials/_hero.html" %}

  {# begin about-eric #}
  {% include "partials/_about-eric.html" %}
  {# end about-eric #}

  {# begin method #}
  {% include "partials/_method.html" %}
  {# end method #}

  {# begin for-whom #}
  {% include "partials/_for-whom.html" %}
  {# end for-whom #}
  
  {# begin feedback #}
  {% include "partials/_feedback.html" %}
  {# end feedback #}
  
  {# begin partners #}
  {% include "partials/_partners.html" %}
  {# end partners #}
  
  {# begin contacts #}
  {% include "partials/_contacts.html" %}
  {# end contacts #}

{% endblock %}
