<section class="about-eric">
  <div class="about-eric__inner inner inner_sm">

    <div class="about-eric__background">
      {{ mixins.icon('waved-oval') }}
      <div class="about-eric__particle-first particle particle_rotate-thirty"></div>
      <div class="about-eric__particle-second particle particle_sm "></div>
      <div class="about-eric__particle-third particle particle_rotate-thirty"></div>
      <div class="about-eric__particle-fourth particle particle_sm "></div>
      <div class="about-eric__particle-fifth particle particle_lg particle_rotate-thirty"></div>
    </div>

    <div class="about-eric__wrapper">
      <div class="about-eric__phone">
        <img src="./img/eric-phone.png" alt="Eric phone" class="about-eric__phone-image">
      </div>
      <div class="about-eric__text">
        <h2 class="about-eric__title">Об Эрике Франклине</h2>
        <p class="about-eric__descr">
          Эрик Франклин — танцор, педагог движения, преподаватель и успешный автор.<br class="about-eric__break"/>
          Эрик является основателем Метод Франклина® и ди⁠ректором Института метода Франклина. Он создал этот метод
          более 25 лет назад, преподает в Швейцарии, Германии и Австрии, а также в США, Китае, Японии и многих других
          странах.<br class="about-eric__break"/>
          Эрик преподает в университетах и школах по всему миру, включая Джульярдскую школу в Нью-Йорке, Университет
          Рутгерса, Венский университет, Королевскую школу балета и Центр Лабана в Лондоне. Эрик представляет свою
          работу на многочисленных конференциях, в том числе на Международном конгрессе по болям в спине и тазовом
          поясе, Альянс Метода Пилатес (Pilates Method Alliance) и Международной Ассоциации Танцевальной Медицины и
          Науки (IADMS – International Association for Dance Medicine & Science).<br class="about-eric__break"/>
          Эрик Франклин - автор 21 книги, в том числе Динамическое выравнивание через образы - 2012, Танцевальные
          изображения для техники и исполнения -2013, Расслабьте свою шею - Освободите свои плечи - 2002, Энергия Таза -
          2003, Внутренний фокус, Внешняя сила - 2006.<br class="about-eric__break"/>
          Книги Эрика Франклина доступны на английском, немецком, итальянском, испанском, польском, французском,
          чешском, китайском, корейском языках.<br class="about-eric__break"/></p>
      </div>
    </div>
  </div>

</section>
