<section class="for-whom">

  <div class="for-whom__inner inner">

    <div class="for-whom__text">
      <h2 class="for-whom__title title">Для кого</h2>
      <p class="for-whom__descr">Метод Франклина прекрасно дополнит двигательную практику, поднимет Ваше понимание
        человеческого тела и мастерство преподавания на новую высоту, если Вы работаете с движением и являетесь:</p>
      <ol class="for-whom__list">
        {% for item in [
          'Танцовщикам и спортсменам',
          'Преподавателям йоги или пилатеса',
          'Инструкторам по фитнесу',
          'Педагогам по балету или другим видам танца',
          'Преподавателям реабилитационных физических программ',
          'Профессионалам в области телесно-ориентированной терапии'] %}

          <li class="for-whom__item">
            <p class="for-whom__item-position">0{{ loop.index }}</p>
            <p class="for-whom__item-text">{{ item }}</p>
          </li>
        {% endfor %}
      </ol>
    </div>
    <div class="for-whom__images">
      <ul class="for-whom__image-list">
        <li class="for-whom__image-item">
          <div class="for-whom__image-bg" style="background-image: url(./img/for-whom-first.png)"></div>
        </li>
        <li class="for-whom__image-item">
          <div class="for-whom__image-bg" style="background-image: url(./img/for-whom-second.png)"></div>
        </li>
        <li class="for-whom__image-item">
          <div class="for-whom__image-bg" style="background-image: url(./img/for-whom-third.png)"></div>
        </li>
        <li class="for-whom__image-item">
          <div class="for-whom__image-bg" style="background-image: url(./img/for-whom-fourth.png)"></div>
        </li>
      </ul>
    </div>

  </div>

</section>
