{% macro icon(i) %}
<svg class="icon icon-{{i}}"><use xlink:href="img/sprite.svg#icon-{{i}}"></use></svg>
{% endmacro %}

{% macro breadcrumbs(props) %}
<!-- begin breadcrumbs -->
<ul class="breadcrumbs{% if props.class %}{{ props.class }}{% endif %}">
	{% for item in props.list %}
		{% if loop.last %}
		<li class="breadcrumbs__item">
			<span>{{ item }}</span>
		</li>
		{% else %}
		<li class="breadcrumbs__item">
			<a href="#">{{ item }}</a>
		</li>
		{% endif %}
	{% endfor %}
</ul>
<!-- end breadcrumbs -->
{% endmacro %}

{% macro checkbox(props) %}
<!-- begin input -->
<label class="{% if props.radio %}radio{% else %}checkbox{% endif %}{% if props.class %} {{ props.class }}{% endif %}">
	<input type="{% if props.radio %}radio{% else %}checkbox{% endif %}" name="{{ props.name or 'checkbox' }}"{% if props.checked %} checked{% endif %}>
	<span class="{% if props.radio %}radio{% else %}checkbox{% endif %}__text">{{ props.text or 'checkbox' }}</span>
</label>
<!-- end input -->
{% endmacro %}

{% macro form(props) %}
	{% if props.subscribe %}
	<!-- BEGIN FORM -->
	<form class="form">
		<div class="form__date">01.02.2019</div>
		<h3 class="form__title">Запишитесь на курс</h3>
		<div class="form__group">
			<div class="form__input-group"><input type="text" class="form__input js-form-name" placeholder="Имя"></div>
      <div class="form__input-group"><input type="text" class="form__input js-form-phone" placeholder="Телефон" minlength="16"></div>
      <div class="form__input-group"><input type="text" class="form__input js-form-mail" placeholder="Email"></div>
			<div class="form__submit">
				<button class="btn btn_wide btn_white btn_bold js-form-submit" type="submit">
					записаться на курс
				</button>
			</div>
			<div class="form__footer">
				Я согласен с условиями обработки персональных данных
			</div>
		</div>
	</form>
	<!-- END FORM -->
	{% endif %}
	{% if props.question %}
	<!-- BEGIN FORM -->
	<form class="form form_low js-form">
		<h3 class="form__title">Задать вопрос</h3>
		<div class="form__group">
			<div class="form__input-group"><textarea type="text" class="form__input form__textarea" placeholder="Сообщение"></textarea></div>
			<div class="form__input-group"><input type="text" class="form__input js-form-name" placeholder="Имя"></div>
			<div class="form__input-group"><input type="text" class="form__input js-form-mail" placeholder="Email"></div>
			<div class="form__input-group"><input type="text" class="form__input js-form-phone" placeholder="Телефон" minlength="16"></div>
			<div class="form__submit">
				<button class="btn btn_wide btn_white btn_bold js-form-submit" type="submit">
					<span class="btn__text">отправить</span>
				</button>
			</div>
			<div class="form__footer">
				Я согласен с условиями обработки персональных данных
			</div>
		</div>
	</form>
	<!-- END FORM -->
	{% endif %}
{% endmacro %}
