<div class="modal" data-modal="registration">
    <div class="modal__container" data-modal-container>
        <div class="modal__inner">
            <button class="modal__close" data-modal-close>
                {{mixins.icon('close')}}
            </button>
            <div class="modal__wrap">
                {{ mixins.form({modal: true}) }}
            </div>
        </div>
    </div>
</div>

<div class="modal js-success" data-modal="success">
    <div class="modal__container modal__container_sm" data-modal-container>
        <div class="modal__inner">
            <button class="modal__close" data-modal-close>
                {{mixins.icon('close')}}
            </button>
            <div class="modal__wrap">
                <div class="modal__img">
                    <img src="./img/modal-success.png" alt="img">
                </div>
                <h3 class="modal__title">Ваша заявка отправлена</h3>
                <div class="modal__text">
                    <p>
                        Наш менеджер свяжется с вами в ближайшее время
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
    
<div class="js-error message-sending js-message-sending">
  <div class="message-sending__container">
    <div class="message-sending__inner js-message-sending-inner js-error-block">
      
    </div>
    <button class="message-sending__x js-close">&#10006;</button>
  </div>
</div>