<section class="schedule js-navigation-section" id="schedule">
  <div class="schedule__inner inner">

    <div class="schedule__background">
      <div class="js-parallax schedule__particle-first particle particle_rotate-thirty"></div>
      <div class="js-parallax schedule__particle-second particle particle_sm "></div>
      <div class="js-parallax schedule__particle-third particle particle_rotate-thirty"></div>
      <div class="js-parallax schedule__particle-fourth particle particle_sm "></div>
      <div class="js-parallax schedule__particle-fifth particle particle_lg particle_rotate-thirty"></div>
    </div>

    <h2 class="schedule__title title">
      Расписание
    </h2>
    <div class="schedule__wrap tabs" data-tabs>
      <div class="schedule__left tabs__out">
        <ul class="schedule__list tabs__list js-scrollbar scrollbar">
          {% for item in [
            {
              tabsControl: true,
              id: 'day1',
              text: 'ДЕНЬ 1',
              description: 'Место проведения'
            },
            {
              tabsControl: true,
              id: 'day2',
              text: 'ДЕНЬ 2',
              description: 'Место проведения'
            },
            {
              class: 'price',
              text: '20 000 ₽ 1 И 2 ДЕНЬ'
            },
            {
              tabsControl: true,
              id: 'day3',
              text: 'ДЕНЬ 3',
              description: 'Только для действующих танцовщиков и их педагогов',
              bigMargin: true
            },
            {
              class: 'price',
              text: '5 000 ₽ 3 ДЕНЬ'
            }
          ] %}
            <li
              class="schedule__item tabs__item{% if item.class %} schedule__{{ item.class }} {{ item.class }}{% endif %}{% if item.bigMargin %} schedule__item_mt{% endif %}"
              {% if item.tabsControl %}data-tabs-control="{{ item.id }}"{% endif %}
              {% if item.class %}data-modal-control="registration"{% endif %}>
              {% if item.tabsControl %}
                <div class="schedule__item-text">
                  {{ item.text }}
                </div>
                <div class="schedule__item-description">
                  {{ item.description }}
                </div>
              {% endif %}
              {% if item.class %}
                <p class="price__text">
                  {{ item.text }}
                </p>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="schedule__right tabs__wrap" data-tabs-wrapper>
        {% for item in [
          {
            id: 'day1',
            accordeons: [
            {
              subtitle: 'Сессия 1:',
              title: 'Единство разума и тела по улучшению техникии профессиональных навыков',
              text: [
              'На начальном занятии происходит ознакомление с тем, как понятия разума и тела могут быть успешно применены к улучшению танцевальной
                            техники и профессиональных навыков. Обучающимся будет представлена 4-х шаговая программа, которая поможет им систематически совершенствовать 
                            свои способности с использованием стратегий ментальных образов.',
              'Это занятие также покажет, как использовать образность для определения и достижения целей, а также управления страхами в сложных ситуациях.',
              'Предмет изучения будет представлен в виде танцевального опыта, нежели просто теории.'
            ]
            },
            {
              subtitle: 'Сессия 2:',
              title: 'Понимание анатомии таза и бедра в целях улучшения техники танца',
              text: [
              'На начальном занятии происходит ознакомление с тем, как понятия разума и тела могут быть успешно применены к улучшению танцевальной
                                техники и профессиональных навыков. Обучающимся будет представлена 4-х шаговая программа, которая поможет им систематически совершенствовать 
                                свои способности с использованием стратегий ментальных образов.',
              'Это занятие также покажет, как использовать образность для определения и достижения целей, а также управления страхами в сложных ситуациях.',
              'Предмет изучения будет представлен в виде танцевального опыта, нежели просто теории.'
            ]
            },
            {
              subtitle: 'Сессия 3:',
              title: 'Понимание анатомии таза и бедра в целях улучшения техники танца',
              text: [
              'На начальном занятии происходит ознакомление с тем, как понятия разума и тела могут быть успешно применены к улучшению танцевальной
                                техники и профессиональных навыков. Обучающимся будет представлена 4-х шаговая программа, которая поможет им систематически совершенствовать 
                                свои способности с использованием стратегий ментальных образов.',
              'Это занятие также покажет, как использовать образность для определения и достижения целей, а также управления страхами в сложных ситуациях.',
              'Предмет изучения будет представлен в виде танцевального опыта, нежели просто теории.'
            ]
            }
          ]
          },
          {
            id: 'day2',
            accordeons: [
            {
              subtitle: 'Сессия 1:',
              title: 'Обзор разумного подхода к телу в танце.',
              text: [
              'Во время этой сессии мы рассмотрим основы предыдущего дня и добавим новые понятия.
              Особое внимание уделяется повышению мотивации и уверенности в себе. Мы научимся
              правильному применению разумного подхода к телу в танце.
              '
            ]
            },
            {
              subtitle: 'Сессия 2:',
              title: 'Сказочные ноги, легкие прыжки',
              text: [
              'После обзора тазовых основ с предыдущего дня мы сосредоточимся на придании большей
              силы и эстетики ногам танцора.
              И сила, и эстетика ног являются ключом к успеху в танцах. Без сильных и хорошо
              выровненных ног хорошая осанка не может быть достигнута, а прыжки практически не
              возможны.',
              'Этот курс продемонстрирует, как создать эстетические, сильные и хорошо выровненные
              ноги и как тем самым улучшается осанка, а также способность прыгать высоко и легко.
              Обычно танцоры знают о техническом и эстетическом значении своих ног, но, к
              сожалению, самые распространенные травмы во время танца связаны с ногами
              Повышенная осведомленность о выравнивании и сбалансированной силе и гибкости будет
              иметь большое значение для предотвращения проблем с ногами и повышения их
              выразительного потенциала.',
              'Упражнения с лентами и мячами, специально предназначенные для придания силы,
              необходимой для легкого прыжка, станут финалом этой сессии в рамках мастер-класса.
              '
            ]
            },
            {
              subtitle: 'Сессия 3:',
              title: 'Создание условий для танцев',
              text: [
              'Ленты и мячи помогут нам создать лучшие условия и безопасность для танца. Мы изучим
              серию упражнений с лентой и у хореографического станка, основанных на танцевальных
              движениях для придания танцору ощущения силы и гибкости. Упражнения с
              использованием мячей улучшают баланс, выравнивание и координацию, а также помогают
              повысить гибкость плечевого, спинного и тазобедренного суставов. И последнее, но не
              менее важное: мячи - отличные инструменты для устранения напряжения, помогают
              танцорам отдохнуть и восстановить силы.
              '
            ]
            }
          ]
          },
          {
            id: 'day3',
            accordeons: [
            {
              subtitle: '',
              title: 'Совершенствование техники и повышение уверенности через использование анатомии танцев и когнитивных образов Метод Франклина™',
              text: [
              'Метод Франклина™ (Динамические Нейрокогнитивные Образы-ДНО) - это основанный на фактических данных структурированный подход к использованию ментальных образов в обучении движениям и постуральном переобучении.',
              'Метод Франклина фокусируется на улучшении моторно-двигательных (например, амплитуде движения, позе и дыхании) и немоторно-двигательных (например, концентрации, постановки целей и уверенности в себе) функций исполнения.',
              'Метод Франклина продвигает оптимальные и безопасные танцевальные практики, одновременно снижая риск травм для танцоров.',
              'Этот семинар учит танцоров использованию функциональной анатомии и биомеханики человека посредством комбинирования двигательных и образных техник и инструментов, тем самым, улучшая кинестетические и проприоцептивные навыки восприятия образов, самосознание и восприятие.',
              'Эти занятия направляют внимание танцоров на когнитивные, биомеханические и сенсорные аспекты танца, тем самым обогащая их «инструментарий».'
            ]
            },
            {
              subtitle: '',
              title: 'Часть 1',
              text: [
              'Первая часть занятий посвящена представлению понятий тела и разума, лежащих в основе когнитивных образов, использование которых может быть успешно при улучшенияи техники танца и навыков исполнения. В целях содействия танцорам и преподавателям танцев в систематическом использовании стратегии психических образов для постановки и достижения целей, а также для управления тревожностью в сложных танцевальных ситуациях, будет представлена «четырёх-шаговая» модель ДНО™. Эти темы будут представлены в виде танцевального опыта и подкрепляется научными лекциями.',
              'Подробные темы. Часть 1:',
              '1. Нейрофизиологические основы психических образов в танце.',
              '2. Клинический, основанный на фактических данных подход к внедрению психических образов в обучении и исполнении танца.',
              '3. Введение в основы разума и тела как средство улучшения техники и навыков исполнения.',
              '4. Использование научных и практических концепций  по укреплению и стабилизации мышц кора как средство предотвращения и лечения травм поясницы в танце.'
            ]
            },
            {
              subtitle: '',
              title: 'Часть 2',
              text: [
              'Вторая часть занятий посвящена комплексу тканей таза и бедра и его роли в движениях, характерных для танцев. Обучающиеся получат подробное понимание функциональной анатомии и биомеханики комплекса тканей таза-бедра, которое позволит расширить  знания, навыки и умения танцора в легком и эффективном создании более результативной и безопасной техники при выполнении различных танцевальных движений.',
              'Цель - улучшить plié («плие»), естественного выворота стоп, developé («девлюпе»), батмана и прыжков.',
              'Подробные темы. Часть 2:',
              '1. Функциональная анатомия и биомеханика комплекса тканей таза-бедра, в том числе в танцевально-специфических движениях ног.',
              '2. Роль правильной биомеханики таза в осуществлении здоровых и безболезненных движений позвоночника и нижних конечностей.',
              '3. Упражнения и методы ДНО™ как средства улучшения показателей исполнения тазобедренной области с последующим увеличением амплитуды движения, установкой правильной биомеханики и устранением боли или других симптомов во время танца.',
              '4. Интеграция образов таза и бедер как средство  обеспечения правильной осанки и биомеханики нижних конечностей, включая колени и ступни',
              '5. Биомеханика и координация крестцово-подвздошного сустава в танцевальном движении',
              '6. Движения и упражнения с лентами и мячом в ДНО™ как средства повышения безопасности поясницы, коленей и ступней.',
              '7. Набор упражнений ДНО™ как средство правильного задействования кора при использовании психических образов с последующей улучшением стабильности, гибкости и выравнивания.'
            ]
            }
          ]
          }
        ] %}
          <div class="schedule__container tabs__container js-accordeon-parent" data-tabs-container="{{ item.id }}">
            <div class="schedule__container-wrap">
              {% for accordeon in item.accordeons %}
                <div class="accordeon">
                  <div class="accordeon__head {% if loop.index === 1 %}is-active{% endif %} js-accordeon-head">
                    <div class="accordeon__text">
                      <div class="accordeon__subtitle">
                        {{ accordeon.subtitle }}
                      </div>
                      <h4 class="accordeon__title">
                        {{ accordeon.title }}
                      </h4>
                    </div>
                    <div class="accordeon__icon">
                      {{ mixins.icon('arrow-down') }}
                    </div>
                  </div>
                  <div
                    class="accordeon__body js-accordeon-body" {% if loop.index === 1 %} style="display: block" {% endif %}>
                    {% for p in accordeon.text %}
                      <p>
                        {{ p }}
                      </p>
                    {% endfor %}
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
