<section class="schedule js-navigation-section" id="schedule">
    <div class="schedule__inner inner">
        <h2 class="schedule__title title">
            Расписание
        </h2>
        <div class="schedule__wrap tabs" data-tabs>
            <div class="schedule__left tabs__out">
                <ul class="schedule__list tabs__list js-scrollbar scrollbar">
                    {% for item in [
                        {
                            tabsControl: true,
                            id: 'day1',
                            text: 'ДЕНЬ 1',
                            description: 'Место проведения'
                        },
                        {
                            tabsControl: true,
                            id: 'day2',
                            text: 'ДЕНЬ 2',
                            description: 'Место проведения'
                        },
                        {
                            class: 'price',
                            text: '20 000 ₽ 1 И 2 ДЕНЬ'
                        },
                        {
                            tabsControl: true,
                            id: 'day3',
                            text: 'ДЕНЬ 3',
                            description: 'Только для действующих танцовщиков и их педагогов',
                            bigMargin: true
                        },
                        {
                            class: 'price',
                            text: '5 000 ₽ 3 ДЕНЬ'
                        }
                    ] %}
                        <li class="schedule__item tabs__item{% if item.class %} schedule__{{ item.class }} {{ item.class }}{% endif %}{% if item.bigMargin %} schedule__item_mt{% endif %}"{% if item.tabsControl %}data-tabs-control="{{ item.id }}"{% endif %}>
                            {% if item.tabsControl %}
                                <div class="schedule__item-text">
                                    {{ item.text }}
                                </div>
                                <div class="schedule__item-description">
                                    {{ item.description }}
                                </div>
                            {% endif %}
                            {% if item.class %}
                                <a class="price__text" data-modal-control="registration">
                                    {{ item.text }}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="schedule__right tabs__wrap" data-tabs-wrapper>
                {% for item in [
                    {
                        id: 'day1',
                        accordeons: [
                            {
                            subtitle: 'Сессия 1:',
                            title: 'Единство разума и тела по улучшению техникии профессиональных навыков',
                            text: [
                                'На начальном занятии происходит ознакомление с тем, как понятия разума и тела могут быть успешно применены к улучшению танцевальной 
                            техники и профессиональных навыков. Обучающимся будет представлена 4-х шаговая программа, которая поможет им систематически совершенствовать 
                            свои способности с использованием стратегий ментальных образов.',
                                'Это занятие также покажет, как использовать образность для определения и достижения целей, а также управления страхами в сложных ситуациях.',
                                'Предмет изучения будет представлен в виде танцевального опыта, нежели просто теории.'
                                ]
                            },
                            {
                                subtitle: 'Сессия 2:',
                                title: 'Понимание анатомии таза и бедра в целях улучшения техники танца',
                                text: [
                                    'На начальном занятии происходит ознакомление с тем, как понятия разума и тела могут быть успешно применены к улучшению танцевальной 
                                техники и профессиональных навыков. Обучающимся будет представлена 4-х шаговая программа, которая поможет им систематически совершенствовать 
                                свои способности с использованием стратегий ментальных образов.',
                                    'Это занятие также покажет, как использовать образность для определения и достижения целей, а также управления страхами в сложных ситуациях.',
                                    'Предмет изучения будет представлен в виде танцевального опыта, нежели просто теории.'
                                ]
                            },
                            {
                                subtitle: 'Сессия 3:',
                                title: 'Понимание анатомии таза и бедра в целях улучшения техники танца',
                                text: [
                                    'На начальном занятии происходит ознакомление с тем, как понятия разума и тела могут быть успешно применены к улучшению танцевальной 
                                техники и профессиональных навыков. Обучающимся будет представлена 4-х шаговая программа, которая поможет им систематически совершенствовать 
                                свои способности с использованием стратегий ментальных образов.',
                                    'Это занятие также покажет, как использовать образность для определения и достижения целей, а также управления страхами в сложных ситуациях.',
                                    'Предмет изучения будет представлен в виде танцевального опыта, нежели просто теории.'
                                ]
                            }
                        ]
                    },
                    {
                        id: 'day2',
                        accordeons: [
                            {
                            subtitle: 'Сессия 1:',
                            title: 'Единство разума и тела по улучшению техникии профессиональных навыков',
                            text: [
                                'На начальном занятии происходит ознакомление с тем, как понятия разума и тела могут быть успешно применены к улучшению танцевальной 
                            техники и профессиональных навыков. Обучающимся будет представлена 4-х шаговая программа, которая поможет им систематически совершенствовать 
                            свои способности с использованием стратегий ментальных образов.',
                                'Это занятие также покажет, как использовать образность для определения и достижения целей, а также управления страхами в сложных ситуациях.',
                                'Предмет изучения будет представлен в виде танцевального опыта, нежели просто теории.'
                                ]
                            },
                            {
                                subtitle: 'Сессия 2:',
                                title: 'Понимание анатомии таза и бедра в целях улучшения техники танца',
                                text: [
                                    'На начальном занятии происходит ознакомление с тем, как понятия разума и тела могут быть успешно применены к улучшению танцевальной 
                                техники и профессиональных навыков. Обучающимся будет представлена 4-х шаговая программа, которая поможет им систематически совершенствовать 
                                свои способности с использованием стратегий ментальных образов.',
                                    'Это занятие также покажет, как использовать образность для определения и достижения целей, а также управления страхами в сложных ситуациях.',
                                    'Предмет изучения будет представлен в виде танцевального опыта, нежели просто теории.'
                                ]
                            },
                            {
                                subtitle: 'Сессия 3:',
                                title: 'Понимание анатомии таза и бедра в целях улучшения техники танца',
                                text: [
                                    'На начальном занятии происходит ознакомление с тем, как понятия разума и тела могут быть успешно применены к улучшению танцевальной 
                                техники и профессиональных навыков. Обучающимся будет представлена 4-х шаговая программа, которая поможет им систематически совершенствовать 
                                свои способности с использованием стратегий ментальных образов.',
                                    'Это занятие также покажет, как использовать образность для определения и достижения целей, а также управления страхами в сложных ситуациях.',
                                    'Предмет изучения будет представлен в виде танцевального опыта, нежели просто теории.'
                                ]
                            }
                        ]
                    },
                    {
                        id: 'day3',
                        accordeons: [
                            {
                            subtitle: 'Сессия 1:',
                            title: 'Единство разума и тела по улучшению техникии профессиональных навыков',
                            text: [
                                'На начальном занятии происходит ознакомление с тем, как понятия разума и тела могут быть успешно применены к улучшению танцевальной 
                            техники и профессиональных навыков. Обучающимся будет представлена 4-х шаговая программа, которая поможет им систематически совершенствовать 
                            свои способности с использованием стратегий ментальных образов.',
                                'Это занятие также покажет, как использовать образность для определения и достижения целей, а также управления страхами в сложных ситуациях.',
                                'Предмет изучения будет представлен в виде танцевального опыта, нежели просто теории.'
                                ]
                            },
                            {
                                subtitle: 'Сессия 2:',
                                title: 'Понимание анатомии таза и бедра в целях улучшения техники танца',
                                text: [
                                    'На начальном занятии происходит ознакомление с тем, как понятия разума и тела могут быть успешно применены к улучшению танцевальной 
                                техники и профессиональных навыков. Обучающимся будет представлена 4-х шаговая программа, которая поможет им систематически совершенствовать 
                                свои способности с использованием стратегий ментальных образов.',
                                    'Это занятие также покажет, как использовать образность для определения и достижения целей, а также управления страхами в сложных ситуациях.',
                                    'Предмет изучения будет представлен в виде танцевального опыта, нежели просто теории.'
                                ]
                            },
                            {
                                subtitle: 'Сессия 3:',
                                title: 'Понимание анатомии таза и бедра в целях улучшения техники танца',
                                text: [
                                    'На начальном занятии происходит ознакомление с тем, как понятия разума и тела могут быть успешно применены к улучшению танцевальной 
                                техники и профессиональных навыков. Обучающимся будет представлена 4-х шаговая программа, которая поможет им систематически совершенствовать 
                                свои способности с использованием стратегий ментальных образов.',
                                    'Это занятие также покажет, как использовать образность для определения и достижения целей, а также управления страхами в сложных ситуациях.',
                                    'Предмет изучения будет представлен в виде танцевального опыта, нежели просто теории.'
                                ]
                            }
                        ]
                    }
                ] %}
                    <div class="schedule__container tabs__container" data-tabs-container="{{ item.id }}">
                        <div class="schedule__container-wrap">
                            {% for accordeon in item.accordeons %}
                                <div class="accordeon">
                                    <div class="accordeon__head js-accordeon-head">
                                        <div class="accordeon__text">
                                            <div class="accordeon__subtitle">
                                                {{ accordeon.subtitle }}
                                            </div>
                                            <h4 class="accordeon__title">
                                                {{ accordeon.title }}
                                            </h4>
                                        </div>
                                        <div class="accordeon__icon">
                                            {{ mixins.icon('arrow-down') }}
                                        </div>
                                    </div>
                                    <div class="accordeon__body js-accordeon-body">
                                        {% for p in accordeon.text %}
                                            <p>
                                                {{ p }}
                                            </p>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>