<section class="structure">
    <div class="structure__inner inner">
        <div class="structure__bg" style="background-image: url(./img/structure-bg.svg)"></div>
        <div class="structure__particle-first particle particle_rotate-thirty"></div>
        <div class="structure__particle-second particle particle_md particle_rotate-thirteen"></div>
        <div class="structure__particle-third particle particle_rotate-thirty"></div>
        <div class="structure__particle-fourth particle particle_rotate-thirteen"></div>
        <h2 class="structure__title title">
            Структура тренинга
        </h2>
        <div class="structure__wrap scrollbar js-scrollbar">
            <div class="structure__list">
                {% for item in [
                    'Как легко и системно помогать людям лучше двигаться',
                    'Что на самом деле представляет собой связь тела и разума, и как сделать ее понятной для любой аудитории',
                    'Как личная практика метода может зарядить вас энергией для работы с другими и улучшить вашу функциональность',
                    'Как легко и системно помогать людям лучше двигаться',
                    'Что на самом деле представляет собой связь тела и разума, и как сделать ее понятной для любой аудитории',
                    'Как личная практика метода может зарядить вас энергией для работы с другими и улучшить вашу функциональность'
                ] %}
                    <div class="structure__item">
                        <p>{{ item }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>