{% set list = [
  {
    name: 'Ольга Смирнова',
    position: 'прима-балерина Большого театра',
    photo: 'Olga_Smirnova.jpg',
    text: 'Метод Франклина дает углубленое и при этом доступное каждому знание своего тела. Хорошее самочувствие , более быстрое восстановление после физических нагрузок   и долголетие в профессии без травм  - это то, что мне дают эти занятия, как ведущей балерине. Но я уверена, что эта система необходима также и человеку без  профессиональных ежедневных физических нагрузок для того, чтобы чувствовать себя молодым, здоровым, энергичным, а главное свободным от боли и недомогания.'
  },
  {
    name: 'Жанна Аюпова',
    position: 'Народная артистка России',
    photo: 'Zhanna_Ayupova.jpg',
    text: 'Метод Франклина идеально подходит для артистов - им, как никому другому, необходимо чувствовать свое тело! Многие проходят через травмы, растяжения, разрывы, и очень важно уметь эффективно  восстанавливать себя. Кроме того, эти знания и навыки безусловно ценны для укрепления внутренних мышц, растяжки и выносливости! Метод Франклина поможет “продлить” жизнь артиста на сцене.'
  },
  {
    name: 'Анастасия Яценко',
    position: 'Заслуженная артистка России, Педагог-репетитор',
    photo: 'Anastasia_Yatsenko.jpg',
    text: 'Прежде чем заниматься балетом, необходимо провести серьёзную работу с телом,правильно настроить его.  Всем , кто так или иначе имеет отношение к танцу, важно как во время выстраивания карьеры, так и после открывать новые границы сознания и улучшать себя. Метод Франклина-это один из уникальных способов. 
    Работа Марии Субботовской и других и организаторов заслуживает большого уважения в продвижении креативных идей и методов  совершенствования!'
  },
  {
    name: 'Илзе Лиепа',
    position: 'Российская балерина, Народная артистка России',
    photo: 'Ilze_Liepa.jpg',
    text: '«Нам отец всегда говорил: «Берегите ноги, Берегите здоровье» и, пройдя большой путь в балете, я понимаю, что мы артисты балета всегда вне поля внимания настоящих профессионалов, которые занимаются восстановлением, занимаются тем, чтобы сохранить здоровье на долгие годы. При этом театр и работа артиста балета это тяжёлая, тяжелая работа, это конвейер. Поэтому когда появляется человек, такой как Эрик Франклин, который может в этом помочь, появляется целая система, которая может помочь тебе сохранить здоровье, и правильно, и без огромных травм пройти творческий путь в профессии это огромная находка, огромное счастье».'
  }
] %}
