.about-eric
	padding-top: 150px
	padding-bottom: 75px

	&__container
		max-width: 970px
		margin: 0 auto

	&__inner
		display: flex
		justify-content: space-between

	&__phone
		width: 35%

	&__phone-image

	&__text
		width: 56%

	&__title

	&__descr

	&__descr-paragraph
