.btn
	padding: 18px 52px
	border-radius: 28px
	height: 55px
	color: $white
	background-color: $violet
	text-transform: uppercase
	outline: none
	font-weight: 700
	transition: transform .3s
	font-family: $montserrat
	letter-spacing: 0.5px
	+hover
		transform: scale(1.05)

	&_white
		background-color: $white
		color: $violet

	&_wide
		width: 100%

	&_bold
		font-weight: 900

.btn-circle
	width: 35px
	height: 35px
	border-radius: 50%
	color: $white
	background-color: $violet
	font-size: 15px
	display: flex
	align-items: center
	justify-content: center
	position: relative
	transition: transform .3s
	+hover
		transform: scale(1.05)

	&:after
		content: ""
		position: absolute
		left: -5px
		top: -5px
		bottom: -5px
		right: -5px
		border-radius: 50%
		background-color: $violet
		opacity: 0.2
	&_lg
		width: 51px
		height: 51px
		&:after
			left: -7px
			top: -7px
			bottom: -7px
			right: -7px

