.contacts
	position: relative
	padding: 164px 0 187px
	margin-bottom: 125px
	+md
		padding: 90px 0
		margin-bottom: 0
	&__inner
		position: relative

	&__content
		display: flex
		+sm
			flex-direction: column
	// text-align: center
	// justify-content: center
	&__text
		padding-top: 22px
		+md
			flex-shrink: 0

	&__block
		margin-top: 19px
		+xs
			margin-top: 10px

	&__label
		opacity: 0.5

	&__value
		letter-spacing: 0.033em
		padding-top: 3px
		font-size: 18px
		font-weight: 700
		+xs
			font-size: 15px

	&__form
		margin-left: 46px
		+md
			margin-left: 25px
			display: flex
			justify-content: center
			width: 100%
		+sm
			margin: 25px 0 0
			display: block
	// justify-content: center
	&__particle-first
		top: calc(100% + 195px)
		left: -85px

	&__particle-second
		top: calc(100% + 65px)
		left: 121px

	&__particle-third
		top: calc(100% + 200px)
		left: 857px

	&__particle-fourth
		top: 378px
		left: 891px

	&__particle-fifth
		top: calc(100% + 17px)
		left: 1015px

	&__particle-sixth
		top: 349px
		right: -70px
