.particle
	position: absolute
	width: 9px
	height: 9px
	border-radius: 3px
	background-color: $black

	&_sm
		width: 5px
		height: 5px
		border-radius: 2px

	&_lg
		width: 14px
		height: 14px

	&_xl
		width: 17px
		height: 17px
		border-radius: 5px

	&_rotate-thirty
		transform: rotate(30deg)

	&_rotate-fourthyfive
		transform: rotate(45deg)
