.video
	position: relative

	&__image
		min-height: 350px
		background-position: center
		background-repeat: no-repeat
		background-size: cover
		border-radius: 20px
		box-shadow: 0 35px 60px -24px rgba(#252323, 0.5)
		display: flex
		justify-content: center
		align-items: center

	&__btn
		margin-top: 28px

